h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto; 
}


.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}


.form-container label {
    margin-bottom: 10px;
    color: #666;
}


.form-container input[type="text"],
.form-container textarea,
.form-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

.form-container button:hover {
    background-color: #555;
}


.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


a.btn.btn-cancel {
    font-size: 14px;
    color: #fff; 
    background-color: #ff6666; 
    padding: 8px 16px;
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s ease;
    width: 50%; 
    text-align: center; 
    margin-top: 10px; 
}

a.btn.btn-cancel:hover {
    background-color: #ff3333; 
}
