/* Estilos específicos para tareas */

.task-item {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    list-style-type: none;
}

.task-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-header {
    display: flex;
    align-items: center; /* Alinear al centro verticalmente */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
}

.task-title {
    font-size: 24px;
    color: #797979;
    text-align: left;
    margin-left: 10px; /* Espacio entre la checkbox y el título */
    flex-grow: 1; /* Permite que el título ocupe el espacio restante */
}

.task-toggle {
    margin-right: 10px;
    align-self: center; /* Alinear el checkbox al centro verticalmente */
}

.task-toggle-checkbox {
    display: none;
}

.task-toggle-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.task-toggle-checkbox:checked + .task-toggle-label {
    background-color: #28a745;
}

.task-title {
    margin-top: 0;
    margin-bottom: 10px; /* Espacio entre el título y los botones */
    font-weight: bold; /* Texto en negrita */
}

.task-title.completed {
    text-decoration: line-through;
}

.task-details {
    margin-top: 10px; /* Espacio entre el título y los botones */
    display: none;
}

.task-item.expanded .task-details {
    display: block;
}

/* Estilos para los botones de acción */
.task-actions {
    position: absolute;
    top: 10px;
    
}
