/* Estilos específicos para tareas */

.task-item {
    position: relative; /* Agregado */
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Cambiar el cursor al pasar sobre la tarjeta */
    transition: all 0.3s ease; /* Animación de transición suave */
}

.task-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-header {
    display: flex; /* Utilizar flexbox para organizar elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: space-between; /* Espacio uniforme entre los elementos */
}

.task-toggle {
    margin-right: 10px; /* Añadir un margen derecho para separar el botón de alternancia del título */
}

.task-toggle-checkbox {
    display: none; /* Ocultar el botón de alternancia por defecto */
}

.task-toggle-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón de alternancia */
}

.task-toggle-checkbox:checked + .task-toggle-label {
    background-color: #28a745; /* Cambiar el color del botón de alternancia cuando está marcado */
}

.task-toggle-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transform: scale(0); /* Inicialmente ocultar el punto dentro del botón de alternancia */
    transition: transform 0.3s ease; /* Animación suave de la aparición del punto */
}

.task-toggle-checkbox:checked + .task-toggle-label::after {
    transform: scale(1); /* Mostrar el punto dentro del botón de alternancia cuando está marcado */
}

.task-title {
    margin-top: 0; /* Eliminar el margen superior del título */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el título */
}

.task-title.completed {
    text-decoration: line-through; /* Tachar el título cuando la tarea está marcada como hecha */
}

.task-details {
    display: none; /* Ocultar los detalles de la tarea por defecto */
}

.task-item.expanded .task-details {
    display: block; /* Mostrar los detalles de la tarea cuando se expande */
}

/* Estilos para los botones de acción */
.task-actions {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
