/* Estilos específicos para tareas */

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 36px; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.task-buttons {
    text-align: left;
    font-size: 36px;
    padding: 5px;
}

.task-buttons .btn {
    width: 15px; 
    height: 30px;
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.task-list{
    margin: 20px 0;
}
.task-item {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    list-style-type: none;
}

.task-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.task-title {
    font-size: 24px;
    color: #797979;
    text-align: left;
    margin-left: 10px; 
    flex-grow: 1; 
}

.task-toggle {
    margin-right: 10px;
    align-self: center; 
}
.task-toggle-checkbox {
    display: none;
}

.task-toggle-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.task-toggle-checkbox:checked + .task-toggle-label {
    background-color: #28a745;
}

.task-title {
    margin-top: 0;
    margin-bottom: 10px; 
    font-weight: bold; 
}
.task-title.completed {
    text-decoration: line-through;
}

.task-details {
    margin-top: 10px; 
    display: none;
}

.task-item.expanded .task-details {
    display: block;
}

.task-actions {
    position: absolute;
    top: 10px;
    
}

